<!-- 头部 -->
<%- include('./blocks/header', { siteTitle: themeConfig.siteName }) %>
<!--头部 over-->

        <!-- 侧导航 -->
        <%- include('./blocks/nav', {tags: site.tags, menu: 'archives', link: '/archives'}) %>
        <!--侧导航 over-->

        <!-- 顶导航 -->
        <%- include('./blocks/head', { topnav: site.customConfig.topnav }) %>
        <!--顶导航 over-->

        <!-- 内容 -->
<section class="pcoded-main-container" id="content">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-md-12">
                <!-- [ 面包屑 ] start -->
                <ul class="breadcrumb" itemscope="">
                    <a itemprop="breadcrumb" href="<%= themeConfig.domain %>">首页</a> &nbsp;&nbsp;›&nbsp;&nbsp; <a
                        itemprop="breadcrumb" href="<%= themeConfig.domain %>/tags">分类</a> &nbsp;&nbsp;›&nbsp;&nbsp;
                    <span class="current"><%= tag.name %></span>
                </ul>
                <!-- [ 面包屑 ] end -->
                <!-- [清单] start -->
                <div class="list-cover list-rounded mb-3 mb-md-4 animated fadeIn">
                    <div class="list-item list-overlay-content overlay-hover bg-dark">
                        <div class="media media-5x1">
                            <div class="media-content"
                                style="background-image:url('<%= site.customConfig.tagImage %>')">
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="list-content p-3 p-md-4">
                            <div class="list-body">
                                <div class="d-flex align-items-center">
                                    <div class="text-xl"><%= tag.name %></div>
                                    <div class="flex-fill"></div>
                                    <div class="text-light"> 
                                        <i class="text-xl iconfont icon-file-text-line mr-1"></i>
                                        <span class="text-xs "><%= tag.name %>下的文章</span>
                                    </div>
                                </div>
                                <div class="border-top border-white mt-2 mt-md-3 pt-2 pt-md-3">
                                    <div class="text-sm h-2x"><%= tag.name %></div>
                                    <div class="border-theme bg-primary"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-home list-grid list-grid-padding div-black-745 <% if (site.customConfig.listformd === 'homeer') { %>row<% } %>" id="list-home">
                    <% posts.forEach(function(post, postIndex) { %>
                    <!-- 如果不是置顶文章 -->
                    <%- include('./blocks/post-list-zt', {  istop: post.isTop,   title: post.title, tags: post.tags, link: post.link, description: post.description, feature: post.feature, date: post.date, siteName: themeConfig.siteName }) %>
                    <% }); %>
                </div>

                <div class="pagenavi text-center"><a class="wwww" href="<%= pagination.next %>">加载更多</a></div>
                <!-- [清单] end -->
            </div>
        </div>
    </div>
    <!-- [ 版权 ] start -->
    <%- include('./blocks/component/foot') %>
    <!-- [ 版权 ] end -->
</section>
        <!--内容 over-->

    <!-- 尾部 -->
    <%- include('./blocks/footer') %>
    <!--尾部 over-->